@model IEnumerable<ISpan.Project_02_DessertStory.Customer.ViewModels.Home.SellersViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .bg-icon-us {
        background: url(/images/sellersbackground2.jpg) center center repeat;
        background-size: contain;
    }
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Sellers</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Sellers</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Start -->
<div class="container-fluid bg-light bg-icon-us py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Our Sellers</h1>
            <p>與合作商家共襄盛舉，為您打造一場美味的甜點盛宴。</p>
        </div>
        <div class="row g-4">
        @foreach(var item in Model){
                 <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5" ;>
                        <img class="img-fluid mb-4" style="height: 50%; max-height: 100%" src="/images/@item.Picture" alt="">
             <h4 class="mb-3">@item.StoreName</h4>
                        <p class="mb-4">主打品項: @item.MainProduct</p>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="/SellerDetail/Index/@item.Id">Read More</a>
                    </div>
                </div>
        } 
        </div>
    </div>
</div>

<!-- Feature End -->
