@using ISpan.Project_02_DessertStory.Customer.Models.EF;
@using ISpan.Project_02_DessertStory.Customer.Models.Services;
@using System.Text.Json;
@model ISpan.Project_02_DessertStory.Customer.ViewModels.Sellers.SellerRegisterViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var serializedSellers = Context.Session.GetString(CDictionary.SK_LOGINED_SELLER);
    var _seller = JsonSerializer.Deserialize<Seller>(serializedSellers);
    var uid = _seller.EmailToken;
    var scheme = Context.Request.Scheme;
    var url = Url.Action("authenticate", "authenticate", new { uid = uid }, scheme);
}
<style>
    .btn-outline-custom {
        color: #ced4da;
        border-color: #ced4da;
    }

        .btn-outline-custom:hover {
            background-color: #ced4da;
            color: #fff;
        }
</style>
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">賣家註冊</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">首頁</a></li>
                <li class="breadcrumb-item" aria-current="page">賣家</li>
                <li class="breadcrumb-item text-dark active" aria-current="page">賣家註冊</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>
                您尚未驗證E-mail
                是否要重新寄送驗證信?
            </h4>

            <div class="form-group mt-4 d-flex">
                <button class="btn btn-primary me-2" id="yesBtn">是 </button>
                <button class="btn btn-secondary me-2" id="cancelBtn">取消 </button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function sendAuthenticationEmail() {
            $.ajax({
                url: "/SellerHome/SendAuthenticationEmail",
                type: "POST",
                data: {
                    recipientEmail: '@_seller.Email',
                    authenticationUrl: '@url',
                    username: '@_seller.FirstName'
                },
                //contentType: "application/json; charset=utf-8",
                async: true,
                //dataType: "json",
                success: function (response) {
                    // Handle success response
                    console.log("Email sent successfully.");
                    Swal.fire({
                        title: "成功！",
                        icon: 'success',
                        text: "電子郵件已成功發送！",
                        confirmButtonText: "確定"
                    });
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error("Error sending email:", error);
                    Swal.fire({
                        title: "失敗！",
                        text: "電子郵件發送失敗，請重試。",
                        icon: 'error',
                        confirmButtonText: "確定"
                    });
                }
            });
        }
        function cancelSendEmail(){
            $(document).ready(function () {
                $("#cancelBtn").click(function (e) {
                    e.preventDefault();
                    //跳出確認視窗
                    Swal.fire({
                        title: '確定要取消嗎?',
                        showCancelButton: true,
                        confirmButtonText: '確定',
                        cancelButtonText: '取消',
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            Swal.fire('已取消', '', 'info').then((result) => {
                                //跳轉到指定Action
                                window.setTimeout(function () {
                                    window.location.href = '/SellerHome/Login';
                                }, 1000);
                            })
                        }
                    })
                })
            })
        }
        document.getElementById("yesBtn").onclick = sendAuthenticationEmail;
        document.getElementById("cancelBtn").onclick = cancelSendEmail;
    </script>
}

