
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_SellerLayout.cshtml";
}

<h1>歡迎</h1>
<h4>帳號: @ViewBag.SellerAccount</h4>
<input type="hidden" name="SellerId" value="@ViewBag.SellerId" />
<h4>@ViewBag.SellerId</h4>


